@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(51, 49, 49);
}

.general_parent_STAR {
   background-color: rgb(19, 19, 18);
   /* background-color: rgb(26, 26, 24); */
 
   height: 100vh;
   width: 100%;
   padding:   20px 30px;
   border-radius:28px;
   border-style: solid;
   box-shadow: 10px 10px 10px 10px rgb(25, 24, 24);
   max-width: 1000px;
   max-height: 600px;
   margin: auto auto;
   display: flex;
   flex-direction: column;
}

.genral_parent_1 
{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
   width: 50%; 
   /* background-color: brown; */
}

.genral_parent_2 {
    width: 50%; 
    background-color: rgb(27, 32, 27); 
}
.header_block{
    width: 100%;
    height: 60px;
    /* background-color: rgb(0, 0, 0); */
    flex-direction: row;
    display: flex;
}

.header_block_1 {
   width: 50%;
   /* background-color: rgb(16, 15, 15); */
}

.header_block_1_0 {
    padding: 10px 50px 50px 15px; 
    /* font-size: 20px; */
    justify-content: flex-start;
    display: block;
    align-items: start;
  
}
.header_block_1_0>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    color: rgb(211, 44, 46);
}
/* .header_block_2 {
   width: 50px;
} */

.header_block_2_inner2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: 1.2rem;
}


.contnet_bar_menu{
    display: flex;
    /* background-color: darkblue; */
    flex-direction: row;

    width: 100%;
    height: 100%;
}


.header_block_2_inner{
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 100%;
    /* background-color: darkblue; */
}


   
.header_block_2_inner1 >img{
    width: 40px;
    height: 40px;
}

.inner_data {
    gap: 20px;
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inner_users {
    gap: 20px;
    display: flex;
    align-items: center;

    flex-direction: row;
    /* background-color: burlywood; */
}


.header_block_2_inner1{
    display: flex;
    /* width: 100%; */
    height: 100%;
    align-items: center;
}

.header_block_2{
    display: flex;
    /* background-color: rgb(27, 32, 27);  */
    width: 50%;
    justify-content: flex-end;
}

.general_parent_inner_1{
    width: 100%;
    height: max-content;
    padding-top: 20px;
    padding-bottom: 10px;
}

.underground_header {
    gap: 30px;
    display: flex;
    padding: 10px 3px;
    background-color: rgb(19, 19, 18);
    flex-direction: row;
}

.lean_button_1 {
    font-weight: 900;
    font-size: large;
    color: antiquewhite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: rgb(251, 62, 62);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lean_button_2 {
    background-color: rgb(19, 19, 18);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color:  rgb(251, 62, 62);
    font-weight: 900;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
}

.lean_button_3 {
    background-color: rgb(19, 19, 18);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color:  rgb(251, 62, 62);
    font-weight: 900;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
}

.lean_button_4 {
    background-color: rgb(19, 19, 18);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color:  rgb(251, 62, 62);
    font-weight: 900;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
}

.lean_button_5 {
    background-color: rgb(19, 19, 18);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color:  rgb(251, 62, 62);
    font-weight: 900;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
}

.lean_button_1,.lean_button_2,.lean_button_3,.lean_button_4,.lean_button_5 {
    cursor: pointer;
}

.number_1 {
    height: 50px;
}

.button_1 {
    display: flex;
    padding: 20px 3px;
    flex-direction: row;
    gap: 50px;
}

.ddt_1 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 25px;
}

.ddt_2 {
    
    font-weight: 900;
    font-size: 50px; 
    margin-bottom: 35px;
}

.tyr_1 {
    box-shadow: 0px 0px 7px 3px  rgb(211, 44, 46);;
    background-color:  rgb(211, 44, 46);
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-weight: 200;
    border-radius: 20px;
    padding: 0px 20px;
}

.tyr_2 {
    height: 50px;
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    background-color: rgb(113, 29, 27);
    justify-content: center;
}
.tyr_22{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 50%;
    width: 35px;
    background-color: rgb(211, 44, 46);
}
.tyr_22>img{
    width: 70%;
    height: 70%;
}

.qwe_zero {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0px;
}

.qwe_1 {

    font-size: 20px;
    font-weight: 300;
}

.qwe_2 {
    font-size: 16px;
    font-weight: 200;
}
.ddt_1,.gfg_1,.ddt_2,.qwe_1,.qwe_2,.gfg_2{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.general_parent_3 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aqua;
}
.general_parent_3>img{
    width: 100%;
    height: 100%;

}


.gfg_1{
font-size: 25px;
font-weight: 800;

}

.gfg_2{
    font-size: 15px;
}


